@import url(variables.css);
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    padding: var(--padding-web);
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins";
}
body{
    background: var(--color3);
}
.header {
    padding: var(--padding-web);
    margin-top: 30px;
    /* background: yellow; */
    display: flex;
    justify-content: space-between;
}
.header__title {
    /* background: blue; */
    color: var(--color1);
    font-size: 30px;

}
.header__buttons {
    /* background: pink; */
    width: 40%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.header__buttons a{
    text-decoration: none;
    font-family: sans-serif;
    color: var(--color2);
}
.header__buttons a:hover{
    border: 1px solid #087f5b;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 75px;
    height: 40px;
}
.main {
}
.section__home {
    /* background: pink; */
    display: flex;
    justify-content: space-between;
}
.home__content {
    /* background: greenyellow; */
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
}
.home__content h1{
    color: var(--color1);
    font-size: 80px;
    /* background: purple; */
}
.home__content p,
.home__content a{
    color: var(--color2);
}
.home__content p{
    /* background: red; */
    width: 320px;
    font-size: 28px;
}
.home__content a{
    background: var(--color1);
    margin-top: 25px;
    margin-left: 15px;
    text-decoration: none;
    font-family: sans-serif;
    font-size: 22px;
    width: 170px;
    height: 38px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.home__icon {
    /* background: yellow; */
    width: 55rem;
    height: 40rem;
    display: flex;
    align-items: center;
}
.home__icon img{
    width: 480px;
}
.section__about {
    /* background: greenyellow; */
    margin-top: 25rem;
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: center;
}
.about__icon {
    /* background: yellow; */
    width: 55rem;
    height: 40rem;
    display: flex;
    align-items: center;
    margin-left: 200px;
}
.about__icon img{
    width: 480px;
}
.about__content {
    /* background: greenyellow; */
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    margin-left: 100px;
}
.about__content span{
    color: var(--color1);
}
.about__content h3,
.about__content p   ,
.about__content a{
    color: var(--color2);
    /* background: red; */
    width: 70%;
}
.about__content h3{
    font-size: 58px;
}
.about__content p{
    /* background: #087f5b; */
    font-size: 20px;
}
.about__content a{
    background: var(--color1);
    margin-top: 20px;
    margin-left: 15px;
    text-decoration: none;
    font-family: sans-serif;
    font-size: 22px;
    width: 170px;
    height: 38px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.section__menu {
    /* background: greenyellow; */
    margin-top: 25rem;
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
}
.menu__title {
    /* background: blueviolet; */
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.menu__title span{
    color: var(--color1);
}
.menu__title h3{
    font-size: 58px;
    color: var(--color2);
}
.menu__content {
    /* background: pink; */
    margin-top: 4rem;
    display: flex;
    justify-content: center;
    gap: 20px;
}
.content__box {
    background: var(--color5);
    width: 480px;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 2px solid;
    position: relative;
}
.content__box img{
    width: 250px;
}
.content__box h5,
.content__box small{
    color: var(--color4);   
}
.content__box h5{
    margin-top: 5px;
    font-size: 25px;
}
.content__box small,
.content__box span{
    font-size: 20px;
}
.content__box span{
    color: var(--color1);
}
.box__button{
    background: var(--color1);
    width: 40px;
    height: 40px;
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.box__button img{
    width: 200px;
    height: 40px;
}
