@import url(variables.css);
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    padding: var(--padding-web);
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins";
}
body{
    background: var(--color3);
}
.header {
    padding: var(--padding-web);
    margin-top: 30px;
    /* background: yellow; */
    display: flex;
    justify-content: space-between;
}
.header__title {
    /* background: blue; */
    color: var(--color1);
    font-size: 30px;

}
.header__buttons {
    /* background: pink; */
    width: 40%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.header__buttons a{
    text-decoration: none;
    font-family: sans-serif;
    color: var(--color5);
}
.header__buttons a:hover{
    border: 1px solid #087f5b;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 75px;
    height: 40px;
}
